<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    
    <testsuite name="Mvlabs Lumber Test Suite">
        <directory>./MvlabsLumberTest</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">/../vendor</directory>
        </whitelist>
    </filter>
    
    <listeners>  
        <listener class="\Mockery\Adapter\Phpunit\TestListener"  
            file="../vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>  
    </listeners>
    <logging>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
